* {
    margin: 0;
    padding: 0;
    border: none;
  
  }
  
  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    
  
  
  
    font-family: 'Raleway', sans-serif !important;
  }
  
  /* Hero Section */
  .hero-section {
    width: 100%;
    height: calc(100%+80px);
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  .yellow-bg{
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background-color: rgb(254, 206, 47);
  }
  
  @media  (min-width: 1300px) {
    .yellow-bg{
        width: 100%;
        height: 80vh;
        background-color: rgb(254, 206, 47);
      }
  }
  /*Navbar */
  .n2{
    display: none;
  }
  @media  (max-width: 1024px) {
    .n1{
      display: none;
    }
    .n2{
      display: flex;
    }
  }
  .bg-sidebar{
    background-color: #ffd756;
  }
  .bg-body-tertiary {
    background-color: transparent !important;
  }
  
  .nav-container {
  
    top: 0;
    width: 100%;
    height: 135px;
    background-color: transparent;
  }
  
  .navbar-brand {
    background-color: #fff;
    padding: 20px;
  }
  
  .container-fluid {
    margin-left: 10%;
    margin-right: 50px;
  }
  
  .collapse {
    width: 100%;
  }
  
  .navbar-collapse {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }
  
  .nav-item  a{
  
    width: auto;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    
    
  }
  #ul1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 6%;
    align-items: center;
    overflow: hidden;
  }
  
  
  .nav-item:hover {
    font-weight: 800;
    color: #000;
  }
  
  /* Search bar */
  
  
  .search-box {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    position: relative;
    margin-left: 30px;
  }
  
  .input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #303030;
  }
  
  .input-search::placeholder {
    color: #303030;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #303030;
    background-color: transparent;
    pointer-events: painted;
  }
  
  .btn-search:focus~.input-search {
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #303030;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #303030;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .hero-container {
  
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: inherit;
    margin-left: 5%;
    margin-top: 5%;
    z-index: 10;
    gap: 40px;
  }
  
  .carousal-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousal-container img {
    width: 80%;
    float: right;
    
  }
  
  @media (max-width:764px) {
  
    .hero-container {
  
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
      
      }
      
      .text-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-left: 0;
        padding-top: 5%;
        z-index: 10;
        gap: 20px;
      }
      .heading-container {
        left: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      .carousal-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        order: -1;
        align-items: center;
      }
    .carousal-container img {
      width: 80%;
      margin-right: 0px;
      
     
    }
  
    
  }
  
  .heading-container {
    left: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .line-one {
    width: 573px;
    height: 63px;
    padding-bottom: 12.20px;
    
    background: #F04E30;
    
    align-items: center;
    display: inline-flex;
  
  }
 
  
  .line-two {
    width: 460px;
    height: 63px;
    padding-bottom: 12.20px;
    
    background: #E08853;
    
    align-items: center;
    display: inline-flex;
  }
  
  .line-three {
    width: 374px;
    height: 63px;
    padding-bottom: 12.20px;
    
    background: #4B7660;
    
    align-items: center;
    display: inline-flex;
  }
  
  .line-one-text {
    color: white;
    font-size: 80px;
    font-weight: 700;
    word-wrap: break-word
  }
  
  .sub-heading{
   width: 100%; 
   height: auto;
   color: black;
   font-size: 20px;
   font-family: Raleway;
   font-weight: 500;
   letter-spacing: 0.20px;
   word-wrap: break-word
  }
  
  @media  (max-width: 764px) {
    .line-one-text {
      font-size: 41px;
    font-weight: 550;
    display: flex;
    align-items: center;
    }
  
    .line-one {
      width: 300px;
      height: 40px;
      padding-bottom: 0px;
      
  
    
    }
    .line-two {
      width: 240px;
      height: 40px;
      padding-bottom: 0px;
      
    }
  
  
  .line-three {
    width: 190px;
    height: 40px;
    padding-bottom: 0px;
    
  }
  
  .sub-heading{
    width: 100%; 
    height: auto;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.20px;
    
   }
   
  }
  @media (min-width:765px) and (max-width:1024px) {
    
  
    .line-one-text {
        width: auto;
      font-size: 54px;
    font-weight: 700;

    }
  
    .line-one {
      width: 388px;
      height: 40px;
      padding-bottom: 0px;
      text-align: left;
  
    
    }
    .line-two {
      width: 306px;
      height: 40px;
      padding-bottom: 0px;
      
    }
  
  
  .line-three {
    width: 248px;
    height: 40px;
    padding-bottom: 0px;
    
  }
  
  .sub-heading{
    width: 100%; 
    height: auto;
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    letter-spacing: 0.20px;
    
   }
   
  }
  
  .cta-button {
    width: 215px;
    height: 56px;
    position: relative
  }
  
  .Rectangle1 {
    width: 208px;
    height: 52px;
    left: 10px;
    top: 8px;
    position: absolute;
    background: #F04E30
  }
  
  
  .ExploreNow {
    color: white;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.22px;
    word-wrap: break-word;
  
  }
  
  .button-box {
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 18px;
    padding-right: 10px;
    left: 0px;
    top: 0px;
    position: absolute;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    display: inline-flex
  }
  .button-box2 {
    
   
    border: 1px rgb(206, 206, 206) solid;
    
  }
  
  
  /* Section to animation */
.reveal{
    position: relative;
    transform : translateY(350px);
    opacity: 0;
    transition: all 2s ease;
  
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
    
  }
  .reveal1{
    position: relative;
    transform : translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  
  }
  .reveal1.active{
    transform: translateY(0px);
    opacity: 1;
    
  }


  /* Our Team Section */
  .ourTeam-section {
    padding-top: 250px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  
  
  .container-one {
    width: 70%;
    

    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
  }
  
  .image-frame {
    width: 407px;
    height: 516px;
    
    
    position: relative
  }
  
  .image-frame img {
    width: 368px;
    height: 482px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .Rectangle10 {
    width: 368px;
    height: 482px;
    left: 39px;
    top: 34px;
    position: absolute;
    background: #F9E7DD
  }
  
  
  
  @media (max-width:764px) {
      .ourTeam-section {
    padding-top: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
    .container-one {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 60px;
    }
   
  
    .image-frame img {
      width: 368px;
      height: 482px;
      
    }
  
    .Rectangle10 {
      width: 368px;
      height: 482px;
      left: 24px;
      top: 24px;
    }
  
  }

  @media (max-width: 500px) {
    .card-one , .card-two{
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    gap: 50px;
    display: inline-flex;
  }
    .image-frame {
    width: 309px;
    height: 408px;
    
    
    position: relative
  }
  .shape-container{
    display: none !important;
  }
  
      .image-frame img {
      width: 291px;
      height: 389px; 
      
    }
  
    .Rectangle10 {
      width: 291px;
      height: 389px;
      left: 18px;
      top: 18px;
    }
    
  }
  @media (min-width:765px) and (max-width: 1024px) {
    .container-one {
      width: 80%;
      height: auto;
      justify-content: center;
      align-items: center;
      gap: 120px;
      display: flex;
      flex-direction: column;
    }
  }
  .card-one , .card-two{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    display: inline-flex
  }
  
  
  
  
  .text-frame {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 26px;
    display: inline-flex
  }
  
  .shape-container {
    padding-top: 34px;
    padding-bottom: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
  }
  
  .rectangle-bg {
    width: 80px;
    height: 3px;
    background: #FECE2F;
    border-radius: 0.20px
  }
  
  .detail-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex
  }
  .profile-image {
    width: 481px;
    height: 630px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  .text-name {
    color: black;
    font-size: 36px;
  
    font-weight: 700;
    word-wrap: break-word
  }
  
  .text-role {
    color: #4b7660;
    font-size: 24px;
    
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word
  }
  .text-discription {
    width: 300px;
    color: black;
    font-size: 14px;
    
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word
  }
  
  @media (max-width:764px) {
    .text-frame {
      margin-left: -20px;
  
    }
    
    .text-discription {
      width: 300px;
      
      font-size: 16px;
      
      font-weight: 600;
     
    }
    
  }
  /* Explore more button(small) */
  .smallButton {
    width: 69px;
    margin-top: 80px;
    height: 56px;
    position: relative
  }
  .RectangleBtn2 {
    width: 60px;
    height: 46px;
    left: 9px;
    top: 10px;
    position: absolute;
    background: #FECE2F
  }
  .Button2Container {
    width: 62px;
    height: 49px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  
  /* slider section */
  
  
  .slider-section {
    
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 65px;
    padding-bottom: 54px;
    
    background: #231F20;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  .slider-elements {
     width: 90%;
      justify-content: center;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      
  }
  
  @media (max-width:1024px) {
    .slider-elements {
     width: 90%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 40px;
      
      
  }
  }
  .left-sec {
      width: 50%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 40px;
      display: inline-flex
  }
  .right-sec {
      width: 50%;
      height: auto;
      display: flex;
      align-items: end;
      right: 0;
      overflow: hidden;
  }
  .slider-arrowBox {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    display: flex;
    flex-direction: row;
  }
  .slider { 
    width: 493.47px;
    height: 493.47px;
    left: 26.53px;
    top: 26.53px;
    
  }
  .slide {
    width: 493.47px;
    height: 493.47px;
    left: 0px;
    top: 0px;
    
  }
  .loremtext {
      width: 100%;
      height: 250px;
      color: #CCCCCC;
      font-size: 18px;
      font-family: Raleway;
      font-weight: 500;
      line-height: 30px;
      word-wrap: break-word
  }
  .text-trim{
    width: 100%;
    height: 250px;
  }
  
  @media  (max-width: 764px){
  
  
  
  
    .navbar-brand{
      
      width:94px ;
      
    }
  }
  
    .loremtext{
      width: 600px; 
      height: 200px; 
      color: #CCCCCC; 
      font-size: 18px;
      
        font-weight: 500;
        line-height: 30px; 
        word-wrap: break-word
    }
    .UpcomingEvents{
      color: white; 
      font-size: 58px; 
      font-family: Raleway;
      font-weight: 700;
      word-wrap: break-word
    }
  .Rectangle12{
    width: 14px; 
    height: 122px;
    background: #4B7660
  }
  .slide img{
    width: 100%; 
    
   
    
  }
  
  
  .cta-button-slider{
    width: 215px;
    height: 56px;
    position: relative;
    margin-top: 500px;
  }
  @media (max-width:764px) {
    .left-sec , .right-sec{
      width: 90%;
    }
    .loremtext , .text-trim{
      width: 100%;
      height: auto;
    }
    .UpcomingEvents{
     /* margin-left: 600px; */
    }
   
  .slide{
    width: 100%;
    height: auto;
  }
   .slider{
      width: 100%;
      height: 320px;
      display: flex;
      flex-direction: column;
      gap: 1000px;
   }
   .slider-section{
    height:auto;
    padding-bottom: 50px;
   }
   .slide img{
    width: 80%;
    
   }

   
  }
    